<%- include('./partials/header') %>

<div class="container">
  <h1 class="header big-text">Maps draw</h1>

  <h2 class="logo big-text">Talisman</h2>
  </div>


<div class="choosing-form">

<form class="" action="/choose" method="post">

<p class="question">
  Choose your maps:
  </p>

<label  class="checkbox-label" for="podziemia">
    <input type="checkbox" name="dungeon" value="dungeon">

Podziemia
    </label>

<label for="gory">
    <input type="checkbox" name="highland" value="highland">
    Góry</label>

<label for="smoki">
    <input type="checkbox" name="dragon" value="dragon">
    Smoki</label>

<label for="miasto">
    <input type="checkbox" name="city" value="city">
    Miasto</label>

<label for="las">
    <input type="checkbox" name="woodland" value="woodland">
    Las</label>

  <label for="Kataklizm">
    <input type="checkbox" name="cataclysm" value="cataclysm">
  Kataklizm</label>

<label for="krainaLodu">
    <input type="checkbox" name="northenland" value="northenland">
    Kraina Lodu</label>


<div class="site-info">
  <p class="question">How many maps you want to use?</p>
  <input class="placeholder" type="text" name="mapsNumber" placeholder="1-7" autocomplete="off" >
  </div>

<button class="btn btn-dark btn-lg" type="submit" name="button">Draw</button>
</form>

  </div>

<%- include('./partials/footer') %>
