<%- include('./partials/header') %>

<div class="container">
  <h1 class="header big-text">Maps draw</h1>

  <h2 class="logo big-text">Talisman</h2>
  </div>


<div class="choosing-form">

<form class="" action="/choose" method="post">

<p class="question">
  Choose your maps:
  </p>

<label  class="checkbox-label" for="podziemia">
    <input type="checkbox" name="podziemia" value="podziemia">

Podziemia
    </label>

<label for="gory">
    <input type="checkbox" name="gory" value="gory">
    Góry</label>

<label for="smoki">
    <input type="checkbox" name="smoki" value="smoki">
    Smoki</label>

<label for="miasto">
    <input type="checkbox" name="miasto" value="miasto">
    Miasto</label>

<label for="las">
    <input type="checkbox" name="las" value="las">
    Las</label>

  <label for="Kataklizm">
    <input type="checkbox" name="kataklizm" value="kataklizm">
  Kataklizm</label>

<label for="krainaLodu">
    <input type="checkbox" name="krainaLodu" value="kraina lodu">
    Kraina Lodu</label>


<div>
  <p class="question">How many maps you want to use?</p>
  <input class="placeholder" type="text" name="mapsNumber" placeholder="1-7" autocomplete="off" >
  </div>

<button class="btn btn-dark btn-lg" type="submit" name="button">Draw</button>
</form>

  </div>

<%- include('./partials/footer') %>
