<%- include('partials/header') %>

<div class="container">
  <h1 class="header big-text">Maps draw</h1>
  <h2 class="logo big-text">Talisman</h2>
  </div>




<div class="result-container">
<p class="question">
  Today you will play with:
</p>
<% for(let i=0; i <= arrayResult.length; i++){ %>
    <div>
      <p class="result-items">
        <%=arrayResult[i]%>
        </p>
      </div>
  <%}%>
  </div>
  <form action="/result" method="post">
    <div class="result-container">
      <button class="btn btn-lg btn-dark" type="submit" name="goBack" >Go Back</button>
      </div>
    </form>



<%- include('partials/footer') %>
