<%- include('partials/header') %>

<div class="container">
  <h1 class="header big-text">Map draw</h1>
  <h2 class="logo big-text">Talisman</h2>
  </div>




<div>
<p>
  Today you will play with:
</p>
<% for(let i=0; i < arrayResult.length; i++){ %>
    <div>
      <p>
        <%=arrayResult[i]%>
        </p>
      </div>
  <%}%>
  </div>
  <form>
    <div>
      <button type="submit" name="goBack" >Go Back</button>
      </div>
    </form>



<%- include('partials/footer') %>
